<div class="font-Inter relative h-331-px mb-6 md:mb-0 cursor-pointer">
    <div class="h-200-px bg-cover bg-no-repeat object-contain" style="background-image: url('{{ courseImg }}');"></div>
    <div class="bg-secondary1 p-2 w-20 h-20 absolute bottom-24 left-5">
        <img class="w-16 h-16" [src]="courseLogo" alt="logo" />
    </div>
    <div class="h-131-px pb-6 pt-10 px-4 border border-gray-0 rounded-b-md">
        <h4 class="text-primary1 font-semibold leading-6 text-xl mb-10-px">{{ courseTitle }}</h4>
        <p class="text-gray-0 text-sm">{{ courseDesc }}</p>
    </div>
</div>