<header class="bg-secondary1 text-primary1 font-Inter">
    <div class="bg-primary2 py-3">
        <div class="container">
            <div class="flex flex-col md:flex-row items-center justify-between">
                <div class="flex flex-col md:flex-row md:items-center">
                    <div class="flex items-center md:mr-5 xl:mr-12 mb-1 md:mb-0">
                        <svg-icon class="mr-6-px text-sm" src="/assets/images/icons/location.svg"></svg-icon>
                        <a class="text-xs transition-all delay-100 ease-in-out hover:opacity-80-pct">1500 Treat Ave, Suite 200 San Francisco, CA 94110</a>
                    </div>
                    <div class="flex items-center">
                        <svg-icon class="mr-6-px text-sm" src="../../../../assets/images/icons/email.svg"></svg-icon>
                        <a class="text-xs transition-all delay-100 ease-in-out hover:opacity-80-pct" href="emailto:vctung@outlook.com">vctung@outlook.com</a>
                    </div>
                </div>

                <div class="hidden md:flex items-center">
                    <a class="mr-3 transition-all delay-100 ease-in-out hover:opacity-80-pct" href="#">
                        <img class="w-5 h-5" src="/assets/images/icons/logo-fb-simple.svg">
                    </a>
                    <a class="mr-3 delay-100 ease-in-out hover:opacity-80-pct" href="#">
                        <img class="w-5 h-5" src="/assets/images/icons/logo-pinterest.svg">
                    </a>
                    <a class="mr-3 delay-100 ease-in-out hover:opacity-80-pct" href="#">
                        <img class="w-5 h-5" src="/assets/images/icons/logo-twitter.svg">
                    </a>
                    <a class="mr-3 delay-100 ease-in-out hover:opacity-80-pct" href="#">
                        <img class="w-5 h-5" src="/assets/images/icons/logo-instagram.svg">
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="flex items-center justify-between py-6">
            <div class="flex items-center">
                <img class="mr-3 w-16 h-14" src="/assets/images/logo.svg" alt="icon" title="logo" />
                <h5 class="text-2xl font-normal">For education</h5>
            </div>
            <div class="flex items-center">
                <ul class="hidden lg:flex items-center mr-14">
                    <li class="cursor-pointer font-medium text-base mr-9 transition-all delay-100 ease-in-out hover:opacity-80-pct">
                        <a title="Home">Home</a>
                    </li>
                    <li class="cursor-pointer font-medium text-base mr-9 transition-all delay-100 ease-in-out hover:opacity-80-pct">
                        <a title="About">About</a>
                    </li>
                    <li class="cursor-pointer font-medium text-base mr-9 transition-all delay-100 ease-in-out hover:opacity-80-pct">
                        <a title="Courses">Courses</a>
                    </li>
                    <li class="cursor-pointer font-medium text-base transition-all delay-100 ease-in-out hover:opacity-80-pct">
                        <a title="Contact">Contact</a>
                    </li>
                </ul>
                <div class="flex items-center">
                    <button class="hidden bg-primary2 text-primary1 rounded lg:flex items-center justify-center w-28 h-11 mr-4 transition-all delay-100 ease-in-out hover:bg-opacity-75-pct">
                        Sign up
                    </button>
                    <button class="bg-white border border-gray-0 text-primary1 rounded flex items-center justify-center w-11 h-11 transition-all delay-100 ease-in-out hover:bg-primary1 hover:text-white">
                        <svg-icon src="../../../../assets/images/icons/search.svg"></svg-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>
</header>