<div class="bg-map bg-no-repeat bg-center">
    <div class="grid grid-cols-12 md:gap-7">
        <div class="col-span-12 md:col-span-6 lg:col-span-3 mb-6 md:mb-0">
            <div class="flex flex-col items-center justify-center">
                <img class="mb-1" src="/assets/images/publishesd-img.svg" alt="icon" />
                <p class="font-Georgian text-6xl font-semibold mb-3">768</p>
                <h6 class="text-secondary2 font-bold">COURSES PUBLISHED</h6>
            </div>
        </div>
        <div class="col-span-12 md:col-span-6 lg:col-span-3 mb-6 md:mb-0">
            <div class="flex flex-col items-center justify-center">
                <img class="mb-1" src="/assets/images/instructors.svg" alt="icon" />
                <p class="font-Georgian text-6xl font-semibold mb-3">120</p>
                <h6 class="text-secondary2 font-bold">EXPERT INSTRUCTORS</h6>
            </div>
        </div>
        <div class="col-span-12 md:col-span-6 lg:col-span-3 mb-6 md:mb-0">
            <div class="flex flex-col items-center justify-center">
                <img class="mb-1" src="/assets/images/learners.svg" alt="icon" />
                <p class="font-Georgian text-6xl font-semibold mb-3">8,300</p>
                <h6 class="text-secondary2 font-bold">HAPPY LEARNERS</h6>
            </div>
        </div>
        <div class="col-span-12 md:col-span-6 lg:col-span-3">
            <div class="flex flex-col items-center justify-center">
                <img class="mb-1" src="/assets/images/awrds.svg" alt="icon" />
                <p class="font-Georgian text-6xl font-semibold mb-3">32</p>
                <h6 class="text-secondary2 font-bold">AWARDS ACHIEVED</h6>
            </div>
        </div>
    </div>
</div>