<section class="bg-secondary1 text-primary1 font-Inter pt-10 md:pt-60-px pb-150-px">
    <div class="container">
        <div class="grid grid-cols-12">
            <div class="col-span-12 md:col-span-6 flex order-last md:order-first">
                <div>
                    <p class="text-2xl md:text-3xl font-semibold mb-18-px">Become Master</p>
                    <h1 class="font-Georgian text-45-px md:text-6xl leading-13 md:leading-17 mb-6">Learn New Skills Online Find Best Courses</h1>
                    <div class="flex items-center">
                        <button class="bg-primary2 rounded flex items-center justify-center w-32 md:w-44 h-54-px mr-3 transition-all delay-100 ease-in-out hover:bg-opacity-75-pct">
                            Get A Quote
                        </button>
                        <button class="bg-white border border-gray-0 rounded flex items-center justify-center w-32 md:w-44 h-54-px transition-all delay-100 ease-in-out hover:bg-primary1 hover:text-white">
                            Read more
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-span-12 md:col-span-6 flex justify-center order-first md:order-last mb-6 md:mb-0">
                <img src="/assets/images/Analytic.svg" alt="img" />
            </div>
        </div>
    </div>
</section>

<div class="container">
    <section class="bg-primary1 text-white rounded-xl py-6 px-9 flex flex-col md:flex-row items-center justify-between font-Inter relative bottom-24">
        <div class="flex flex-col md:flex-row items-start md:items-center font-Georgian mb-4">
            <img class="mr-5" src="../../../assets/images/Success.svg" alt="img" />
            <h2 class="text-xl lg:text-3xl leading-6 lg:leading-9">Upcoming Our <span class="text-primary2">Basic</span> in <br> <span class="text-primary2">Python</span> Course!</h2>
        </div>
        <div class="flex items-center">
            <div class="flex flex-col items-center">
                <p class="text-2xl lg:text-6xl font-semibold mb-1 md:mb-2">11</p>
                <p class="text-sm font-light">Days</p>
            </div>
            <div class="text-xl lg:text-3xl mx-4">:</div>
            <div class="flex flex-col items-center">
                <p class="text-2xl lg:text-6xl font-semibold mb-1 md:mb-2">02</p>
                <p class="text-sm font-light">Hours</p>
            </div>
            <div class="text-xl lg:text-3xl mx-4">:</div>
            <div class="flex flex-col items-center">
                <p class="text-2xl lg:text-6xl font-semibold mb-1 md:mb-2">45</p>
                <p class="text-sm font-light">Minutes</p>
            </div>
            <div class="text-xl lg:text-3xl mx-4">:</div>
            <div class="flex flex-col items-center">
                <p class="text-2xl lg:text-6xl font-semibold mb-1 md:mb-2">21</p>
                <p class="text-sm font-light">Seconds</p>
            </div>
        </div>
    </section>
</div>

<section class="pb-12 md:pb-20">
    <div class="container">
        <h3 class="text-primary font-Georgian font-semibold text-5xl mb-9 text-center">Top Featured Courses</h3>
        <app-courses-group></app-courses-group>
    </div>
</section>

<section class="my-20">
    <div class="container">
        <div class="grid grid-cols-12">
            <div class="col-span-12 md:col-span-6 mb-12 xl:mb-0">
                <div class="bg-cover object-cover h-400-px w-full md:w-350-px lg:w-450-px xl:w-540-px rounded-md relative" style="background-image: url(../../../assets/images/img.svg);">
                    <div class="bg-primary2 w-120-px h-120-px rounded-md relative top-30-m-px right-10-px lg:right-30-px">
                        <img class="absolute right-0 top-4" src="/assets/images/Instagram-post.svg" alt="icon" />
                    </div>
                    <div class="bg-white w-4/5 h-77-px m-auto rounded-md flex flex-col justify-center items-center absolute left-30-px xl:left-50-px bottom-35-m-px">
                        <h6 class="text-xl font-semibold mb-2">Kimmie Vo</h6>
                        <p class="text-sm text-gray-0">Junior Designer</p>
                    </div>
                </div>
            </div>
            <div class="col-span-12 md:col-span-6">
                <div class="text-primary1 font-Inter">
                    <h4 class="font-Georgian text-4xl md:text-2xl xl:text-5xl font-semibold mb-4 leading-14">Successful Student <span class="text-primary2">Feedback</span></h4>
                    <p class="text-black leading-6 mb-12">Take courses from the world’s best instructors and universities. Courses include recorded auto-graded and peer-reviewed assignments, video lectures, and community discussion forums. When you complete a course, you’ll be eligible to receive a shareable electronic Course Certificate for a small fee.</p>

                    <p class="font-semibold mb-5">The courses that Kimmie has taken</p>
                    <div class="relative">
                        <img class="absolute top-2" src="../../../assets/images/img-small.svg" alt="img" />
                        <div class="h-24 ml-60-px pl-9 flex flex-col items-start justify-center bg-secondary1 rounded">
                            <h6 class="font-semibold mb-3">Modern and Contemporary Art and Design</h6>
                            <p class="text-gray-0 text-sm">The Museum of Modern Art</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="bg-secondary1 text-primary1 py-20 font-Inter">
    <div class="container">
        <app-statistics></app-statistics>
    </div>
</section>

<section class="my-20 font-Inter text-primary1">
    <div class="container">
        <div class="flex flex-col md:flex-row items-center justify-center">
            <div class="md:mr-14 mb-6 md:mb-0">
                <img class="w-320-px h-470-px" src="../../../assets/images/Recruiting.svg" alt="img" />
            </div>
            <div class="w-full xl:w-540-px">
                <p class="text-primary2 font-bold mb-3">Subscrible now</p>
                <h5 class="text-5xl leading-14 mb-6">Get every single update you will get</h5>
                <div class="p-6-px border border-gray-0 rounded-md flex items-center">
                    <svg-icon class="mr-3 text-black" src="/assets/images/icons/email.svg"></svg-icon>
                    <input class="bg-transparent focus:outline-none w-64-pres lg:w-72-pres xl:w-64-pres" type="text" placeholder="Enter email address" />
                    <button class="bg-primary2 rounded-sm w-160-px h-11 flex items-center justify-center transition-all delay-100 ease-in-out hover:bg-opacity-75-pct">Subscrible now</button>
                </div>
            </div>
        </div>
    </div>
</section>

