<footer class="bg-primary1 text-white font-Inter pt-20 pb-100-px lg:pb-0">
    <div class="container">
        <div class="grid grid-cols-12 pb-12">
            <div class="col-span-12 md:col-span-5 xl:col-span-6 mb-7 md:mb-0">
                <div class="flex items-center mb-9">
                    <img class="mr-3 w-16 h-14" src="/assets/images/logo2.svg" alt="icon" title="logo" />
                    <h5 class="text-2xl font-normal">For education</h5>
                </div>
                <ul>
                    <li class="flex mb-6">
                        <svg-icon class="mr-6-px mt-1" src="/assets/images/icons/location.svg"></svg-icon>
                        <p>1500 Treat Ave, Suite 200 <br /> San Francisco, CA 94110</p>
                    </li>
                    <li class="flex items-center mb-6">
                        <svg-icon class="mr-6-px" src="../../../../assets/images/icons/email.svg"></svg-icon>
                        <p>vctung@outlook.com</p>
                    </li>
                    <li class="flex items-center mb-6">
                        <svg-icon class="mr-6-px" src="../../../../assets/images/icons/phone.svg"></svg-icon>
                        <p>vctung@outlook.com</p>
                    </li>
                </ul>
            </div>
            <div class="col-span-12 md:col-span-7 xl:col-span-6">
                <div class="grid grid-cols-12">
                    <div class="col-span-6 md:col-span-4 mb-7 md:mb-0">
                        <h5 class="text-xl font-semibold mb-5">Community</h5>
                        <ul *ngFor="let link of ['Learners', 'Partners', 'Developers', 'Beta Testers', 'Translators', 'Blog', 'Tech Blog', 'Teaching Center']">
                            <li class="mb-6 cursor-pointer transition-all delay-100 ease-in-out hover:text-gray-400">
                                <a [title]="link">{{link}}</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-span-6 md:col-span-4 mb-7 md:mb-0">
                        <h5 class="text-xl font-semibold mb-5">Informations</h5>
                        <ul *ngFor="let link of ['About', 'Pricing', 'Blog', 'Careers', 'Contact', 'Blog']">
                            <li class="mb-6 cursor-pointer transition-all delay-100 ease-in-out hover:text-gray-400">
                                <a [title]="link">{{link}}</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-span-6 md:col-span-4 mb-7 md:mb-0">
                        <h5 class="text-xl font-semibold mb-5">More</h5>
                        <ul *ngFor="let link of ['Press', 'Investors', 'Terms', 'Privacy', 'Help', 'Accessibility', 'Contact', 'Articles', 'Directory', 'Affiliates']">
                            <li class="mb-6 cursor-pointer transition-all delay-100 ease-in-out hover:text-gray-400">
                                <a [title]="link">{{link}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="bg-primary2 p-9 text-black flex flex-col md:flex-row items-center justify-center md:justify-between">
            <p class="mb-4 md:mb-0">Copyright © 2021 Tung Chi Vo</p>
            <div class="flex items-center">
                <a class="mr-3 transition-all delay-100 ease-in-out hover:opacity-80-pct" href="#">
                    <img class="w-6 h-6" src="/assets/images/icons/logo-fb-simple.svg" title="Facebook" alt="icon" />
                </a>
                <a class="mr-3 transition-all delay-100 ease-in-out hover:opacity-80-pct" href="#">
                    <img class="w-6 h-6" src="/assets/images/icons/logo-pinterest.svg" title="Pinterest" alt="icon">
                </a>
                <a class="mr-3 transition-all delay-100 ease-in-out hover:opacity-80-pct" href="#">
                    <img class="w-6 h-6" src="/assets/images/icons/logo-twitter.svg" title="Twitter" alt="icon">
                </a>
                <a class="mr-3 transition-all delay-100 ease-in-out hover:opacity-80-pct" href="#">
                    <img class="w-6 h-6" src="/assets/images/icons/logo-instagram.svg" title="Instagram" alt="icon">
                </a>
            </div>
        </div>
    </div>
</footer>