<!-- <footer class="py-5 border-t italic text-xl">
    <div class="container">
        <div class="flex items-center justify-between">
            <div> Created ♥ by <a class="hover:text-blue-500" href="http://baianat.com/">Baianat</a> &copy; 2021</div>
            <div class="flex items-center">
                <a class="mr-2 hover:opacity-50 text-xl" href="https://www.linkedin.com/company/baianat/mycompany/">
                    <svg-icon class="w-5 h-5" src="/assets/images/icons/linkedin.svg"></svg-icon>
                </a>
                <a class="mr-2 hover:opacity-50 text-xl" href="https://www.facebook.com/baianat">
                    <svg-icon class="w-5 h-5" src="/assets/images/icons/facebook.svg"></svg-icon>
                </a>
                <a class="mr-2 hover:opacity-50 text-xl" href="https://twitter.com/baianat">
                    <svg-icon class="w-5 h-5" src="/assets/images/icons//twitter.svg"></svg-icon>
                </a>
                <a class="text-xl hover:opacity-50" href="https://github.com/baianat">
                    <svg-icon class="w-5 h-5" src="/assets/images/icons/github.svg"></svg-icon>
                </a>
            </div>
        </div>
    </div>
</footer> -->

<footer class="relative flex-shrink-0 flex h-16 bg-white py-5 border-t italic text-xl">
    <div class="container">
        <div class="flex items-center justify-between">
            <div> Created ♥ by <a class="hover:text-blue-500" href="http://baianat.com/">Baianat</a> &copy; 2021</div>
            <div class="flex items-center">
                <a class="mr-2 hover:opacity-50 text-xl" href="https://www.linkedin.com/company/baianat/mycompany/">
                    <svg-icon class="w-5 h-5" src="/assets/images/icons/linkedin.svg"></svg-icon>
                </a>
                <a class="mr-2 hover:opacity-50 text-xl" href="https://www.facebook.com/baianat">
                    <svg-icon class="w-5 h-5" src="/assets/images/icons/facebook.svg"></svg-icon>
                </a>
                <a class="mr-2 hover:opacity-50 text-xl" href="https://twitter.com/baianat">
                    <svg-icon class="w-5 h-5" src="/assets/images/icons//twitter.svg"></svg-icon>
                </a>
                <a class="text-xl hover:opacity-50" href="https://github.com/baianat">
                    <svg-icon class="w-5 h-5" src="/assets/images/icons/github.svg"></svg-icon>
                </a>
            </div>
        </div>
    </div>
</footer>