<nav class="fixed right-0 bottom-0 left-0 z-50 block lg:hidden">
    <div class="flex items-center justify-around bg-white py-2 shadow-tabs">
        <a routerLink="/" routerLinkActive="active-tab" class="py-1 px-2" [routerLinkActiveOptions]="{exact:true}">
            <div class="flex flex-col justify-center items-center">
                <img src="../../../../assets/images/icons/home.svg" alt="" class="w-8">
                <div class="text-black-500 text-base mt-1">Home</div>
            </div>
        </a>
        <a routerLinkActive="active-tab" class="py-1 px-2">
            <div class="flex flex-col justify-center items-center">
                <img src="../../../../assets/images/icons/info.svg" alt="" class="w-8">
                <div class="text-black-500 text-base mt-1">About</div>
            </div>
        </a>
        <a routerLinkActive="active-tab" class="py-1 px-2">
            <div class="flex flex-col justify-center items-center card-holder">
                <img src="../../../../assets/images/icons/online-course.svg" alt="" class="w-8">
                <div class="text-black-500 text-base mt-1">Courses</div>
            </div>
        </a>
        <a routerLinkActive="active-tab" class="py-1 px-2">
            <div class="flex flex-col justify-center items-center">
                <img src="../../../../assets/images/icons/contact.svg" alt="" class="w-8">
                <div class="text-black-500 text-base mt-1">Contact</div>
            </div>
        </a>
        <a routerLinkActive="active-tab" class="py-1 px-2">
            <div class="flex flex-col justify-center items-center">
                <img src="../../../../assets/images/icons/user.svg" alt="" class="w-8">
                <div class="text-black-500 text-base mt-1">Sign Up</div>
            </div>
        </a>
    </div>
</nav>
