<div class="grid grid-cols-12 md:gap-8">
    <div class="col-span-12 md:col-span-6 xl:col-span-4">
        <app-course-card
            courseImg="../../../assets/images/courser-img2.svg"
            courseLogo="../../../assets/images/courser-logo1.svg"
            courseTitle="User Research for User Experience Design"
            courseDesc="The Museum of Modern Art"></app-course-card>
    </div>
    <div class="col-span-12 md:col-span-6 xl:col-span-4">
        <app-course-card
            courseImg="../../../assets/images/courser-img3.svg"
            courseLogo="../../../assets/images/courser-logo2.svg"
            courseTitle="Buddhism and Modern Psychology"
            courseDesc="The Museum of Modern Art"></app-course-card>
    </div>
    <div class="col-span-12 md:col-span-6 xl:col-span-4">
        <app-course-card
            courseImg="../../../assets/images/courser-img4.svg"
            courseLogo="../../../assets/images/courser-logo3.svg"
            courseTitle="Introduction to Philosophy"
            courseDesc="Duke University"></app-course-card>
    </div>
    <div class="col-span-12 md:col-span-6 xl:col-span-4">
        <app-course-card
            courseImg="../../../assets/images/courser-img5.svg"
            courseLogo="../../../assets/images/courser-logo2.svg"
            courseTitle="Advance on Seeing Through Photographs"
            courseDesc="Duke University"></app-course-card>
    </div>
    <div class="col-span-12 md:col-span-6 xl:col-span-4">
        <app-course-card
            courseImg="../../../assets/images/courser-img6.svg"
            courseLogo="../../../assets/images/courser-logo3.svg"
            courseTitle="Think Again I: How to Understand Arguments"
            courseDesc="Duke University"></app-course-card>
    </div>
    <div class="col-span-12 md:col-span-6 xl:col-span-4">
        <app-course-card
            courseImg="../../../assets/images/courser-img7.svg"
            courseLogo="../../../assets/images/courser-logo1.svg"
            courseTitle="User Research for User Experience Design"
            courseDesc="Duke University"></app-course-card>
    </div>
    <div class="col-span-12 md:col-span-6 xl:col-span-4">
        <app-course-card
            courseImg="../../../assets/images/courser-img6.svg"
            courseLogo="../../../assets/images/courser-logo1.svg"
            courseTitle="User Research for User Experience Design"
            courseDesc="Duke University"></app-course-card>
    </div>
    <div class="col-span-12 md:col-span-6 xl:col-span-4">
        <app-course-card
            courseImg="../../../assets/images/courser-img7.svg"
            courseLogo="../../../assets/images/courser-logo2.svg"
            courseTitle="Introduction to Logic and Critical Thinking"
            courseDesc="Duke University"></app-course-card>
    </div>
    <div class="col-span-12 md:col-span-6 xl:col-span-4">
        <app-course-card
            courseImg="../../../assets/images/courser-img8.svg"
            courseLogo="../../../assets/images/courser-logo3.svg"
            courseTitle="Modern and Contemporary Art and Design"
            courseDesc="Duke University"></app-course-card>
    </div>
</div>